<h1>Firebug Lite</h1>
<h2>jottocraft 2021 fork</h2>
<p>This is a fully working version of Firebug Lite 1.4, hosted on <a href="https://fb.jottocraft.com">fb.jottocraft.com</a> so it can be used after <a href="https://getfirebug.com">getfirebug.com</a> was shut down by Mozilla.</p>
<p>You should only install this if you need debugging features on browsers that do not have built-in devtools and cannot be debugged over the network (chrome://inspect).</p>
<br />
<p>To install, drag this link to the bookmarks bar: <a href="javascript:(function(F,i,r,e,b,u,g,L,I,T,E){if(F.getElementById(b))return;E=F[i+'NS']&&F.documentElement.namespaceURI;E=E?F[i+'NS'](E,'script'):F[i]('script');E[r]('id',b);E[r]('src',I+g+T);E[r](b,u);(F[e]('head')[0]||F[e]('body')[0]).appendChild(E);E=new%20Image;E[r]('src',I+L);})(document,'createElement','setAttribute','getElementsByTagName','FirebugLite','4','firebug-lite.js','skin/xp/sprite.png','https://fb.jottocraft.com/','#startOpened');">Firebug</a>.</p>